<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CsRegistrationMapper">
    
    <resultMap type="CsRegistration" id="CsRegistrationResult">
        <result property="id"    column="id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="departmentId"    column="department_id"    />
        <result property="date"    column="date"    />
        <result property="timeSlot"    column="time_slot"    />
    </resultMap>

    <sql id="selectCsRegistrationVo">
        select id, patient_id, doctor_id, department_id, date, time_slot from cs_registration
    </sql>

    <select id="selectCsRegistrationList" parameterType="CsRegistration" resultMap="CsRegistrationResult">
        <include refid="selectCsRegistrationVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="doctorId != null "> and doctor_id = #{doctorId}</if>
            <if test="departmentId != null "> and department_id = #{departmentId}</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="timeSlot != null  and timeSlot != ''"> and time_slot = #{timeSlot}</if>
        </where>
    </select>
    
    <select id="selectCsRegistrationById" parameterType="Long" resultMap="CsRegistrationResult">
        <include refid="selectCsRegistrationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCsRegistration" parameterType="CsRegistration" useGeneratedKeys="true" keyProperty="id">
        insert into cs_registration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="date != null">date,</if>
            <if test="timeSlot != null">time_slot,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="date != null">#{date},</if>
            <if test="timeSlot != null">#{timeSlot},</if>
         </trim>
    </insert>

    <update id="updateCsRegistration" parameterType="CsRegistration">
        update cs_registration
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="date != null">date = #{date},</if>
            <if test="timeSlot != null">time_slot = #{timeSlot},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCsRegistrationById" parameterType="Long">
        delete from cs_registration where id = #{id}
    </delete>

    <delete id="deleteCsRegistrationByIds" parameterType="String">
        delete from cs_registration where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>